<html>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet">
<body>
	{{> navbar}}
    {{{body}}}
</body>
</html>